body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita barras de desplazamiento */
  width: 100%;
  height: 100%;
}
canvas {
  display: block; /* Ajusta el lienzo al tamaño completo del contenedor */
  width: 100%;
  height: 100%;
}
